#main{
	width: 100%;
	height: 1000px;
}
#main .foods{
	width: 100%;
	height: 560px;
	/*background: pink;*/
	overflow: hidden;
}
#main .foods .title{
	width: 200px;
	height: 50px;
	border: 1px solid #5473aa;
	margin: 55px auto;
}
#main .foods .title h2{
	width: 100px;
	height: 30px;
	background: white;
	margin-left: 50px;
	margin-top: -15px;
	text-align: center;
	line-height: 30px;
	color: #97895c;
}
#main .foods .title p{
	width: 200px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 15px;
	font-family: "arial black";
	color: #97895c;
}
#main .foods .content{
	width: 800px;
	height: 380px;
	margin: 60px auto;
	/*background: yellow;*/
}
#main .foods .content .box{
	width: 245px;
	height: 380px;
	/*background: gold;*/
	float: left;
}
#main .foods .content .box .discribe{
	width: 245px;
	height: 100px;
	/*background: red;*/
	text-align: center;
}
#main .foods .content .box .discribe h3{
	height: 50px;
	line-height: 50px;
	color: #97895c;
}
#main .foods .content .box .discribe p{
	height: 50px;
	line-height: 25px;
	font-size: 14px;
}

#main .life{
	width: 100%;
	height: 540px;
	background: whitesmoke;
	overflow: hidden;
}
#main .life .title{
	width: 200px;
	height: 80px;
	/*background: yellow;*/
	margin: 35px auto;}
#main .life .title .line{
	height: 30px;
	border-bottom: 2px solid #5473aa;
}
#main .life .title h2{
	color: #97895c;
	width: 80px;
	background: whitesmoke;
	text-align: center;
	margin-left: 60px;
	margin-top: -15px;
}
#main .life .title p{
	width: 200px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 15px;
	font-family: "arial black";
	color: #97895c;
}
#main .life .view{
	width: 840px;
	height: 200px;
	/*background: green;*/
	margin: -20px auto;
}
#main .life .view .smallView{
	width: 400px;
	height: 90px;
	float: left;
	margin: 5px 10px;
	/*background: red;*/
}
#main .life .view .smallView img{
	float: left;
}
#main .life .view .smallView p{
	width: 280px;
	height: 90px;
	float: right;
	padding: 0 10px;
	line-height: 25px;
	/*background: yellow;*/
	font-size: 12px;
}
#main .life .view .smallView p span{
	font-size: 20px;
	height: 30px;
	line-height: 30px;
    color: #5473aa;
}